.lebanon-header-menu{
    float: right;
}

.lebanon-branding {
    float: right;
}

.main-navigation li {
    float: right;
}

.scroll-top{
    left: 0;
    right: initial;
}

#lebanon-page-jumbotron .entry-title.text-left {
    text-align: right !important;
}